.filter_fodiv{
  display: flex;           
  flex-direction: column;   
  font-family: serif;
  padding: 15px;
  width: 250px;            
  box-sizing: border-box;
  background-color: #c6ab8077; 
  margin-top: 0;
  margin-bottom: 0; 
  min-height: 100vh;       
  position: sticky;        
  top: 0;
  font-size: 17px;
}

h3{
    background-color: #c6ab80dc;
    border: 1px solid rgba(0, 0, 0, 0.123);
    width: 170px;
    font-size: larger;
}

select{
    width: 170px;
    margin-bottom: 7px;
    background-color: #ffffffc5;
}

.min-max_ar{
    width: 90px;
    height: 20px;
    margin: 5px;
    border:1px solid rgba(0, 0, 0, 0.25)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.kat{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.kat:hover{
  transform: translateY(-3px);
}
