.fodiv {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
}

.kartya {
    flex: 1 1 18rem;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 860px;
}

.termek_kep {
    width: 100%;
    height: auto;
    max-height: 430px;
    border-radius: 5px;
}

.uzenet{
    font-size: larger;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#nincstalalat{
    color: black;
}