.fodiv{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    
}

.termek_kep{
    width: 100%;
    height: 400px;

}
.kartya{
    margin-bottom: 15px;
    flex: 1 1 18rem;

}
