.dropdown-submenu .dropdown-toggle {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 1.5rem !important;
    color: #4a3f35 !important;
    font-weight: 500;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;
    transition: background 0.3s ease;
}

.dropdown-submenu:hover > .dropdown-toggle {
    background-color: #ceb795 !important; 
    color: #2c2621 !important;
}

.dropdown-submenu .dropdown-toggle::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid; 
    margin-left: auto; 
    color: inherit;
}

.dropdown-submenu .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-toggle::after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid; 
    margin-left: auto;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%; 
    margin-top: -1px;
    display: none;
}


.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}


.dropdown-menu {
    background-color: #dfcdb4 !important; 
    border: 1px solid #b8a082;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 0.5rem 0;
}


.dropdown-item {
    color: #4a3f35 !important; 
    font-weight: 500;
    padding: 0.25rem 1.5rem !important;
    transition: background 0.3s ease, color 0.3s ease;
}


.dropdown-item:hover {
    background-color: #ceb795 !important; 
    color: #2c2621 !important;
}


.dropdown-toggle::after {
    color: #4a3f35;
}
.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

.toast_div{
    position: absolute;
    top: 35px;  
    right: 0;    
    z-index: 9999;
    width: 220px 
}

.popup-close-icon {
  position: absolute;
  top: -5px;     
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.dropdown-submenu.drop-end .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
}