
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #f5f6f8;
  color: #222;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


button:hover {
  transform: translateY(-1px);
}

header{
position: fixed; 
    top: 0;          
    width: 100%;    
    z-index: 999;    
}