
* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #ddd1aa;
  color: #222;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


button:hover {
  transform: translateY(-1px);
}

.footer-fodiv{
  width: 450px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  display: flex;
}

header{
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  z-index: 99;
}

.termek-vissza {
  align-self: flex-start;
  margin-bottom: 16px;
  font-size: 16px;
  color: #9f8d73;
  text-decoration: none;
}

